@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
  font-family: "Lato", sans-serif;
  color: white;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: black;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

header {
  position: sticky;
  top: 0%;
  width: 100%;
  height: 60px;
  background: black;
  box-shadow: 0px 0px 10px 2px black;
}

header .link {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.app {
  width: 100%;
}

.app .text-wrapper {
  padding: 30px;
  min-height: 100vh;
  height: auto;
  justify-content: flex-start;
}

.app .text-wrapper p {
  font-size: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.row {
  display: flex;
  background-color: black;
}

.centered {
  align-items: center;
  justify-content: center;
}

.decor {
  height: 50px;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 20px,
    black 20px,
    black 40px
  );
}

.icon {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s all;
}

.icon:hover {
  transform: scale(1.1);
  border-bottom: 1px solid white;
}

.films {
  background: black;
  min-height: 100vh;
  height: fit-content;
  justify-content: flex-start;
  box-shadow: 0px 0px 10px 2px black;
}

.films input {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  outline: none;
  font-size: 20px;
}

.films .films-wrapper {
  flex-wrap: wrap;
  width: 75%;
}

.film {
  width: 300px;
  height: 400px;
  margin: 10px;
  background-position: center center !important;
  transition: 0.3s all;
  justify-content: flex-end;
  cursor: pointer;
}

.film:hover {
  filter: sepia(10deg);
}

.film .line {
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 10px 2px black;
  transition: 0.3s all;
  backdrop-filter: blur(15px);
}

.film .line span {
  margin: 10px;
}

.film .line .raiting-wrapper {
  justify-content: space-between;
}

.film .line .rank {
  height: 15px;
  border-radius: 10px;
  font-size: 12px;
  margin: 10px;
}

.film-info {
  width: 100%;
  height: 100vh;
  background: black;
}

.film-info img {
  width: 450px;
  height: 600px;
  padding: 10px;
  margin: 10px;
}

.film-info span {
  margin: 10px;
}

.watchList {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background: black;
  flex-wrap: wrap;
}

.watchList .films-wrapper {
  overflow-x: scroll;
  width: 70%;
  height: 430px;
}

.watchList button {
  margin: 30px;
  color: white;
  border: 1px solid white;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 100px;
}

.watchList .rand-film-wrapper img {
  width: 300px;
  height: 400px;
  margin: 10px;
}

.watchList .rand-film-wrapper span {
  margin: 10px;
}
